<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <form action="/users/profile" method="post" enctype="multipart/form-data">
    <p>avatar: <input type="file" name="avatar" accept="image/*"></p>
    <p>username: <input type="text" name="username"></p>
    <p><input type="submit" value="submit"></p>
    <img src="/images/user_avatars/033dbd113a4139e9173c51800.png" alt="">
  </form>
</body>
</html>