<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
</head>
<body>
  登录<br ><br >
  <form action="/doLogin" method="post">
    用户名：<input type="text" name="username"><br ><br >
    密  码：<input type="password" name="password"><br ><br >
    <button><a href="/resgister">注册</a><button>
    <input type="submit" value="登录"> 
  </form>
</body>
</html>